.cookie-consent {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    transition: all 0.3s ease;
    /* opacity: 0; */
    transform: translateY(100%);
    /* pointer-events: none; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.cookie-consent-text {
    display: block;
    margin-bottom: 10px;
}

.cookie-consent-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: #f00;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}